.recipesGrid {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  gap: 48px;
}



/* RESPONSIVE ZONE  */ 

@media (max-width: 1024px) {
  .recipesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  .recipesGrid {
    grid-template-columns: 1fr;
  }
}